.fb_iframe_widget.iframe {
  height: 700px !important;
}

.page {
  position: relative;
  height: 100%;
}

.popup {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.show-popup .popup {
  opacity: 1;
  visibility: visible;
}

.popup > iframe {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -280px;
}
/* 
#testimonials {
    background: green;
    display: none;
} */

.news-section .news-thoughts {
  width: 100%;
  min-height: 645px;
  display: block;
  background: url("../img/news-thoughts-bg.jpg") no-repeat;
  opacity: 0.9;
  background-attachment: fixed;
  background-size: cover;
}

.news-section .video-section h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding-top: 70px;
}

.news-section .video-section h2:after {
  content: "";
  display: block;
  border: 2px solid #f6821f;
  width: 36px;
  margin: 5px auto;
}

.news-section .video-section h2 span {
  color: white;
  font-weight: 600;
}

.news-section .video-effect {
  margin: 50px auto;
  display: block;
}

/* Slider */
/* 
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

button.slick-prev.slick-arrow img {
  width: 9px;
}

button.slick-prev.slick-arrow {
  top: -45px;
  right: 116px;
  position: absolute;
  background: none;
  border: 1px solid gray;
  padding: 7px 15px;
  outline: none;
  border-radius: 4px;
}

button.slick-next.slick-arrow img {
  width: 9px;
}

button.slick-next.slick-arrow {
  position: absolute;
  top: -45px;
  right: 35px;
  background: none;
  border: 1px solid gray;
  padding: 7px 15px;
  outline: none;
  border-radius: 4px;
} */

.client-postion img {
  width: 70px;
}

.gallery-con button.slick-prev.slick-arrow {
  top: 90%;
  right: 15%;
  position: absolute;
  background: none;
  border: none;
  padding: 7px 15px;
  outline: none;
  border-radius: 4px;
  z-index: 999;
}

.gallery-con button.slick-next.slick-arrow {
  top: 90%;
  right: 12%;
  position: absolute;
  background: none;
  border: none;
  padding: 7px 15px;
  outline: none;
  border-radius: 4px;
  z-index: 999;
}

.gallery-con button.slick-next.slick-arrow img {
  width: 13px;
}

.gallery-con button.slick-prev.slick-arrow img {
  width: 13px;
}


@media only screen and (max-width: 1024px) {
    .video-effect .slide iframe {
        width: 100%;
    }
}

#testimonials {
    /* background: url("../../assets/bck.jpg") fixed; */
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-size: auto, auto;
    background-size: cover;
    padding: 30px 0;
    background-repeat: no-repeat;
}

#mericlass {
    display: block;
    position: relative;
    background-color: #00d40075;
}

#mericlass::after {
    content: "";
    background: url("../../assets/bckw.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#skills .img-fluid,
.img-thumbnail {
    max-width: 89%;
    height: auto;
    border-radius: 42px;
}

#skills {
    background-color: rgb(245, 144, 17);
}